@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
*{
    box-sizing: border-box;
}
@font-face {
    font-family: "Archive";
    src:
      url("../font/Archive-Regular.otf") format("opentype"),
}

body{
    font-family: "Montserrat";
}
h1,h2,h3,h4{
    font-family: "Archive";
}
h1{
    font-size: 32px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 18px;
}

.white{color: white;}
.blue{color: #004aad;}
.yellow{color: #ffbd59;}

.bg-blue{background-color: #004aad;}
.bg-yellow{background-color: #ffbd59;}

.container{
    width: 1190px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.jc-between{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}
.col-4{
    width:33.33%
}
.col-6{
    width: 50%
}
.col-12{
    width: 100%
}
/*margin top*/
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
/*margin right*/
.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mr-30{
    margin-right: 30px;
}
.mr-40{
    margin-right: 40px;
}
.mr-50{
    margin-right: 50px;
}
/*margin bottom*/
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
/*margin left*/
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-30{
    margin-left: 30px;
}
.ml-40{
    margin-left: 40px;
}
.ml-50{
    margin-left: 50px;
}
/*padding top*/
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.pt-50{
    padding-top: 50px;
}
/*padding right*/
.pr-10{
    padding-right: 10px;
}
.pr-20{
    padding-right: 20px;
}
.pr-30{
    padding-right: 30px;
}
.pr-40{
    padding-right: 40px;
}
.pr-50{
    padding-right: 50px;
}
/*padding bottom*/
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-50{
    padding-bottom: 50px;
}
/*padding left*/
.pl-10{
    padding-left: 10px;
}
.pl-20{
    padding-left: 20px;
}
.pl-30{
    padding-left: 30px;
}
.pl-40{
    padding-left: 40px;
}
.pl-50{
    padding-left: 50px;
}
img{
    width: 100%;
}
.bold{
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #004aad;
}
#footer a{
    color: white;
}
#logo{
    width: 20%;
}
#nav{
    width: 60%;
}
#sign{
    width: 20%;
}
#nav ul{
    display: flex;
}
#nav a{
    padding: 12px;
    color: black;
    display: block;
    font-weight: bold;
}
.bg-image{
    background: url(../images/bgheader.jpg) no-repeat;
    background-size: cover;
}
.cadre{
    background-color: white;
    padding: 13px;
    border-radius: 14px;
}
.btn{
    padding: 23px;
    border-radius: 14px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    transition: all .3s;
    border: none;
}
.full{
    width: 100%;
}
.btn:hover{
    background-color: white;
}
.btn-blue{
    background-color: #004aad;
}
.btn-blue:hover{
    color: #004aad;
}
.btn-yellow{
    background-color: #ffbd59;
}
.btn-yellow:hover{
    color: #ffbd59;
}

.form select, .form input {
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 13px;
    margin-bottom: 22px;
    font-family: 'Montserrat';
    color: #919191;
}